In [11]:
# Libraries.
import numpy as np
import polars as pl

In [12]:
# Import data from URL.
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pl.read_csv(url, separator = "|")

In [13]:
# See the first 25 entries.
users.head(25)

shape: (25, 5)
┌─────────┬─────┬────────┬────────────┬──────────┐
│ user_id ┆ age ┆ gender ┆ occupation ┆ zip_code │
│ ---     ┆ --- ┆ ---    ┆ ---        ┆ ---      │
│ i64     ┆ i64 ┆ str    ┆ str        ┆ str      │
╞═════════╪═════╪════════╪════════════╪══════════╡
│ 1       ┆ 24  ┆ M      ┆ technician ┆ 85711    │
│ 2       ┆ 53  ┆ F      ┆ other      ┆ 94043    │
│ 3       ┆ 23  ┆ M      ┆ writer     ┆ 32067    │
│ 4       ┆ 24  ┆ M      ┆ technician ┆ 43537    │
│ 5       ┆ 33  ┆ F      ┆ other      ┆ 15213    │
│ …       ┆ …   ┆ …      ┆ …          ┆ …        │
│ 21      ┆ 26  ┆ M      ┆ writer     ┆ 30068    │
│ 22      ┆ 25  ┆ M      ┆ writer     ┆ 40206    │
│ 23      ┆ 30  ┆ F      ┆ artist     ┆ 48197    │
│ 24      ┆ 21  ┆ F      ┆ artist     ┆ 94533    │
│ 25      ┆ 39  ┆ M      ┆ engineer   ┆ 55107    │
└─────────┴─────┴────────┴────────────┴──────────┘

In [14]:
# See the last 10 entries.
users.tail(10)

shape: (10, 5)
┌─────────┬─────┬────────┬───────────────┬──────────┐
│ user_id ┆ age ┆ gender ┆ occupation    ┆ zip_code │
│ ---     ┆ --- ┆ ---    ┆ ---           ┆ ---      │
│ i64     ┆ i64 ┆ str    ┆ str           ┆ str      │
╞═════════╪═════╪════════╪═══════════════╪══════════╡
│ 934     ┆ 61  ┆ M      ┆ engineer      ┆ 22902    │
│ 935     ┆ 42  ┆ M      ┆ doctor        ┆ 66221    │
│ 936     ┆ 24  ┆ M      ┆ other         ┆ 32789    │
│ 937     ┆ 48  ┆ M      ┆ educator      ┆ 98072    │
│ 938     ┆ 38  ┆ F      ┆ technician    ┆ 55038    │
│ 939     ┆ 26  ┆ F      ┆ student       ┆ 33319    │
│ 940     ┆ 32  ┆ M      ┆ administrator ┆ 02215    │
│ 941     ┆ 20  ┆ M      ┆ student       ┆ 97229    │
│ 942     ┆ 48  ┆ F      ┆ librarian     ┆ 78209    │
│ 943     ┆ 22  ┆ M      ┆ student       ┆ 77841    │
└─────────┴─────┴────────┴───────────────┴──────────┘

In [27]:
# What is the number of observations in the dataset?
print(f"Number of observations: {users.shape[0]}")

# What is the number of columns in the dataset?
print(f"Number of columns: {users.shape[1]}")

# Print the name of all the columns.
print(f"Columns: {users.columns[0]}", *users.columns[1:], sep = ', ', end = ".\n")

# What's the data type for each column?
print("\nData types: ")
print(*[f" - {column}: {dtype}" for column, dtype in zip(users.columns, users.dtypes)], sep = "\n")

Number of observations: 943
Number of columns: 5
Columns: user_id, age, gender, occupation, zip_code.

Data types:
 - user_id: Int64
 - age: Int64
 - gender: String
 - occupation: String
 - zip_code: String

In [36]:
# Print only the occupation column.
users.select("occupation").head(5)

shape: (5, 1)
┌────────────┐
│ occupation │
│ ---        │
│ str        │
╞════════════╡
│ technician │
│ other      │
│ writer     │
│ technician │
│ other      │
└────────────┘

In [56]:
# How many different occupations are in this dataset?
print("Number of different occupations: ", users.select("occupation").n_unique())

# What is the most frequent occupation?
users \
  .select("occupation", "user_id") \
  .group_by("occupation").len(name = "count") \
  .sort("count", descending = True) \
  .head(1)

Number of different occupations:  21

shape: (1, 2)
┌────────────┬───────┐
│ occupation ┆ count │
│ ---        ┆ ---   │
│ str        ┆ u32   │
╞════════════╪═══════╡
│ student    ┆ 196   │
└────────────┴───────┘

In [57]:
# Summarize the dataframe.
users.describe()

shape: (9, 6)
┌────────────┬────────────┬───────────┬────────┬───────────────┬──────────┐
│ statistic  ┆ user_id    ┆ age       ┆ gender ┆ occupation    ┆ zip_code │
│ ---        ┆ ---        ┆ ---       ┆ ---    ┆ ---           ┆ ---      │
│ str        ┆ f64        ┆ f64       ┆ str    ┆ str           ┆ str      │
╞════════════╪════════════╪═══════════╪════════╪═══════════════╪══════════╡
│ count      ┆ 943.0      ┆ 943.0     ┆ 943    ┆ 943           ┆ 943      │
│ null_count ┆ 0.0        ┆ 0.0       ┆ 0      ┆ 0             ┆ 0        │
│ mean       ┆ 472.0      ┆ 34.051962 ┆ null   ┆ null          ┆ null     │
│ std        ┆ 272.364951 ┆ 12.19274  ┆ null   ┆ null          ┆ null     │
│ min        ┆ 1.0        ┆ 7.0       ┆ F      ┆ administrator ┆ 00000    │
│ 25%        ┆ 237.0      ┆ 25.0      ┆ null   ┆ null          ┆ null     │
│ 50%        ┆ 472.0      ┆ 31.0      ┆ null   ┆ null          ┆ null     │
│ 75%        ┆ 708.0      ┆ 43.0      ┆ null   ┆ null          ┆ null     │
│ max        ┆ 943.0      ┆ 73.0      ┆ M      ┆ writer        ┆ Y1A6B    │
└────────────┴────────────┴───────────┴────────┴───────────────┴──────────┘

In [58]:
# Summarize only the occupation column.
users.select("occupation").describe()

shape: (9, 2)
┌────────────┬───────────────┐
│ statistic  ┆ occupation    │
│ ---        ┆ ---           │
│ str        ┆ str           │
╞════════════╪═══════════════╡
│ count      ┆ 943           │
│ null_count ┆ 0             │
│ mean       ┆ null          │
│ std        ┆ null          │
│ min        ┆ administrator │
│ 25%        ┆ null          │
│ 50%        ┆ null          │
│ 75%        ┆ null          │
│ max        ┆ writer        │
└────────────┴───────────────┘

In [64]:
# What's the mean age of users?
users.select("age").mean()

shape: (1, 1)
┌───────────┐
│ age       │
│ ---       │
│ f64       │
╞═══════════╡
│ 34.051962 │
└───────────┘

In [65]:
# What's the age with the least occurrence?
users \
  .select("age", "user_id") \
  .group_by("age").len(name = "count") \
  .sort("count", descending = False) \
  .head(1)

shape: (1, 2)
┌─────┬───────┐
│ age ┆ count │
│ --- ┆ ---   │
│ i64 ┆ u32   │
╞═════╪═══════╡
│ 10  ┆ 1     │
└─────┴───────┘